<div class="d-flex justify-content-center bg-dark bg-gradient">
    <div class="col">
      <div class="w-50 bg-transparent ml-5 mt-5">
        <p class="fs-3 text-white">Servicio de Registro Online</p>
        <hr>
        <img src="../../../assets/image/Olga Aredes Transparente.png" width="100" height="200" class="card-img-top bg-light rounded-circle mb-2" alt="...">
      </div>
    </div>
    <div class="col">
        <div class="w-50 bg-transparent mt-5">
          <p class="fs-3 text-white">Noticias?</p>
          <hr>
          <p class=" text-white">Debido a la Pandemida, creamos un sistema de registro facil rapido y desde tu propia casa, sin la preocupacion de salir a contagiarse de camino al instituto</p>
        </div>
      </div>
      <div class="col">
        <div class="w-50 bg-transparent mt-5">
          <p class="fs-3 text-white">Puedes Encotrarnos en</p>
          <hr>
          <p class="text-white">JUJUY, Argentina</p>
          <p class="text-white">Gral. Alvear nº 1145, Y4600 San Salvador de Jujuy, Jujuy</p>
          <p class="text-white"><img class="bg-dark mr-1" src="../../../assets/image/Pack Herramientas/phone-handset_icon-icons.com_48252.ico" width="20" height="20" alt="" >Celular: 0388 580-5478</p>
          <span class="text-white">Nuestro Correo: <span class="text-info bg-dark"> OlgaAredez@gmail.com</span> </span>
        </div>
      </div>
</div>
    <div class="card-footer bg-dark border-light bd-highlight">
      <div>
        <p class="text-white">© 2019-2021 Olga Aredes Todos los Derechos reservados - Registro de Alumnos Online</p>
        </div>
        <span class="d-flex">
      <div class="text-primary p-2 bd-highlight"><p class="fw-bolder">www.OlgaAredes.com.ar</p></div>
      <div class="text-primary p-2 bd-highlight"><p class="fw-bold">OlgaAredes@gmail.com</p></div>
      <div class="ms-auto p-2 bd-highlight d-flex">
        <p class="text-white mr-3">Siguenos en</p>
        <a href="https://www.facebook.com/Colegio-Secundario-N59-Olga-Marquez-de-Aredez-Modalidad-Jovenes-y-Adultos-106233064520271"><img class="bg-primary rounded mr-2" src="../../../assets/image/Pack Facebook/Facebook Icono.ico" width="30" height="30" alt=""></a>
      </div>
    </span>
    </div>       

