<!--<div class="bg-image d-block w-100 img fluid"
style="background-image: url('../../assets/image/Olga\ Aredes1.jpg'); height: 100vh; "> </div> -->
<div class="container py-3">
    <form #form="ngForm" class="needs-validation" novalidate [formGroup]="contactForm">
        <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationCustom01">Nombres</label>
              <input type="text" [ngClass]="getClassInput(nombre)" class="form-control" id="validationCustom01" formControlName="nombre" required>
              <div class="invalid-feedback" *ngIf="contactForm.get('nombre').errors?.required">
                Complete el Campo Requerido
              </div>
              <div class="invalid-feedback" *ngIf="nombre.errors?.minlength">
                Ingrese los Nombres Completos
              </div>
              <div class="valid-feedback">
                Nombres Validos
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="validationCustom02">Apellido</label>
              <input type="text" [ngClass]="getClassInput(apellido)" formControlName="apellido" class="form-control" id="validationCustom02" required>
              <div class="invalid-feedback" *ngIf="contactForm.get('apellido').errors?.required">
                Complete el Campo Requerido
              </div>
              <div class="invalid-feedback" *ngIf="apellido.errors?.minlength">
                Ingrese Apellido Valido
              </div>
              <div class="valid-feedback">
                Apellido Valido
              </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationCustom02">DNI</label>
                <input type="text" [ngClass]="getClassInput(dni)" formControlName="dni" class="form-control" id="validationCustom03" required>
                <div class="invalid-feedback" *ngIf="contactForm.get('dni').errors?.required">
                  Complete el Campo Requerido
                </div>
                <div class="invalid-feedback" *ngIf="dni.errors?.minlength">
                  DNI Menor a 8 Digitos
                </div>
                <div class="invalid-feedback" *ngIf="dni.errors?.maxlength">
                  DNI Mayor a 8 Digitos
                </div>
                <div class="invalid-feedback" *ngIf="dni.errors?.min">
                  DNI no Valido
                </div>
                <div class="invalid-feedback" *ngIf="dni.errors?.max">
                  DNI no Valido
                </div>
                <div class="valid-feedback">
                  DNI Valido
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationCustom02">Edad</label>
                <input type="text" [ngClass]="getClassInput(edad)" formControlName="edad" class="form-control" id="validationCustom03" required>
                <div class="invalid-feedback" *ngIf="contactForm.get('edad').errors?.required">
                  Complete el Campo Requerido
                </div>
                <div class="invalid-feedback" *ngIf="edad.errors?.minlength">
                  Edad no Valida
                </div>
                <div class="invalid-feedback" *ngIf="edad.errors?.maxlength">
                  Edad no Valida
                </div>
                <div class="invalid-feedback" *ngIf="edad.errors?.min">
                  Muy Joven...Edad no Valida
                </div>
                <div class="valid-feedback">
                  Edad Valida
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationCustom04">Estado Civil</label>
              <select class="custom-select" [ngClass]="getClassSelect(estadocivil)" formControlName="estadocivil" name="estadocivil" id="validationCustom05" required>
                <option [value]="f" [selected]="i===0"[disabled]="i===0"
                *ngFor="let f of listaEstadoCivil; let i=index">{{f}}</option>
              </select>
              <div class="invalid-feedback">
                Seleccione su Estado Actual
              </div>
              </div>
              <div class="col-md-12 mb-3">
                <label for="exampleFormControlInput1">Dirección de Email</label>
                <input type="email" class="form-control" [ngClass]="getClassInput(getemail)" formControlName="email" name="email" id="exampleFormControlInput1" placeholder="Nombre@hotmail/gmail.com" required>
                <div class="invalid-feedback" *ngIf="contactForm.get('email').errors?.required">
                  El Email es Requerido
                </div>
                <div class="invalid-feedback" *ngIf="getemail.errors?.minlength">
                  Email Demasiado Corto
                </div>
                <div class="invalid-feedback" *ngIf="getemail.errors?.pattern">
                  El Email no es Valido
                </div>
                <div class="valid-feedback">
                  Correo Electronico Valido!
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <label for="validationCustom02">Dirección</label>
                <input type="text" [ngClass]="getClassInput(direccion)" formControlName="direccion" class="form-control" id="validationCustom03" required>
                <div class="invalid-feedback" *ngIf="contactForm.get('direccion').errors?.required">
                  Complete el Campo Requerido
                </div>
                <div class="invalid-feedback" *ngIf="direccion.errors?.minlength">
                  Direccion No Valida
                </div>
                <div class="valid-feedback">
                  Direccion Valida
                </div>
              </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationCustom03">Provincia</label>
              <input type="text" [ngClass]="getClassInput(provincia)" formControlName="provincia" class="form-control" id="validationCustom04" required>
              <div class="invalid-feedback" *ngIf="contactForm.get('provincia').errors?.required">
                Complete el Campo Requerido
              </div>
              <div class="invalid-feedback" *ngIf="provincia.errors?.minlength">
                Provincia No Valida
              </div>
              <div class="invalid-feedback" *ngIf="provincia.errors?.maxlength">
                Provincia No Valida
              </div>
              <div class="valid-feedback">
                Provincia Valida
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="validationCustom04">País</label>
              <select class="custom-select" [ngClass]="getClassSelect(pais)" formControlName="pais" name="pais" id="validationCustom05" required>
                <option [value]="f" [selected]="i===0"[disabled]="i===0"
                *ngFor="let f of listaPais; let i=index">{{f}}</option>
              </select>
              <div class="invalid-feedback">
                Seleccione un País
              </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationCustom02">Nro de Celular</label>
                <input type="text" [ngClass]="getClassInput(celular)" formControlName="celular" class="form-control" id="validationCustom03" required>
                <div class="invalid-feedback" *ngIf="contactForm.get('celular').errors?.required">
                  Complete el Campo Requerido
                </div>
                <div class="invalid-feedback" *ngIf="celular.errors?.minlength">
                  Muy Corto...Nro de Celular no Valido
                </div>
                <div class="invalid-feedback" *ngIf="celular.errors?.maxlength">
                  Muy Largo...Nro de Celular no Valido
                </div>
                <div class="valid-feedback">
                  Nro de Celular Valido
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationCustom02">Nro de Contacto Alternativo</label>
                <input type="text" [ngClass]="getClassInput(contactosec)" formControlName="contactosec" class="form-control" id="validationCustom03" required>
                <div class="invalid-feedback" *ngIf="contactForm.get('contactosec').errors?.required">
                  Complete el Campo Requerido
                </div>
                <div class="invalid-feedback" *ngIf="contactosec.errors?.minlength">
                  Muy Corto...Nro de Contacto no Valido
                </div>
                <div class="invalid-feedback" *ngIf="contactosec.errors?.maxlength">
                  Muy Largo...Nro de Contacto no Valido
                </div>
                <div class="valid-feedback">
                  Nro de Contacto Valido
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationCustom04">Año de Cursado</label>
              <select class="custom-select" [ngClass]="getClassSelect(yearcursado)" formControlName="yearcursado" name="yearcursado" id="validationCustom05" required>
                <option [value]="f" [selected]="i===0"[disabled]="i===0"
                *ngFor="let f of listaYear; let i=index">{{f}}</option>
              </select>
              <div class="invalid-feedback">
                Seleccione El año que Cursa
              </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationCustom04">Modalidad Eija</label>
              <select class="custom-select" [ngClass]="getClassSelect(modalidad)" formControlName="modalidad" name="modalidad" id="validationCustom05" required>
                <option [value]="f" [selected]="i===0"[disabled]="i===0"
                *ngFor="let f of listaEija; let i=index">{{f}}</option>
              </select>
              <div class="invalid-feedback">
                Seleccione su Modalidad
              </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationCustom04">Modalidad Seija</label>
              <select class="custom-select" [ngClass]="getClassSelect(modalidad)" formControlName="modalidad" name="modalidad" id="validationCustom05" required>
                <option [value]="f" [selected]="i===0"[disabled]="i===0"
                *ngFor="let f of listaSeija; let i=index">{{f}}</option>
              </select>
              <div class="invalid-feedback">
                Seleccione su Modalidad
              </div>
              </div>
          </div>
          <div class="form-group">
            <div class="form-check" *ngFor="let c of listaCheck; let i=index">
              <input class="form-check-input" type="checkbox" [value]="c" (click)="verificar(c)" id="exampleCheck{{i}}">
              <label class="form-check-label" for="exampleCheck1">{{c}}</label>
            </div>
          </div>
          <div class="custom-control custom-switch col-md-12 mb-3">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">Inconveniente</label>
            <textarea class="form-control" id="validationTextarea" placeholder="Escriba algún Inconveniente o su Acta Medica"></textarea>
          </div>
          <div class="form-row">
            <div class="col-md-12 mb-1"><p class="text-center">Fotocopia de DNI</p></div>
          <div class="col-md-5 mb-3 mr-5 ml-5">
            <input type="file" class="custom-file-input" id="validatedCustomFile">
            <label class="custom-file-label" for="validatedCustomFile">Foto DNI Delantera</label>
          </div>
          <div class="col-md-5 mb-3 ml-5">
            <input type="file" class="custom-file-input" id="validatedCustomFile">
            <label class="custom-file-label" for="validatedCustomFile">Foto DNI Trasera</label>
          </div>
        </div>
        <div class="d-flex justify-content-center ">
          <button class="btn btn-danger mx-2" type="button" (click)="cancelar()">Cancelar Registro</button>
          <button class="btn btn-primary mx-2" type="button" [disabled]="!validarSelect(estadocivil,pais) " (click)="guardar()">Enviar Registro</button>
        {{validarTodo()}}
        </div>   
        </form>
        
        <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
        </script>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

     Position Column 
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
  
       Name Column 
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
       Weight Column 
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>
  
       Symbol Column 
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>

