<nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top">
    <div class="container-fluid d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <img src="../../../assets/image/Olga Aredes Transparente.png" width="100px" class="rounded-circle bg-light" alt="">
        <h4 class="text-light ml-2 display-5 text-end fw-bold">Colegio Secundario N59 Olga Marquez de Aredez</h4>
        <h4 class="text-light ml-2 display-5 text-end fw-bold">Modalidad Jovenes y Adultos</h4>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="d-flex">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar Alumno por DNI" aria-label="Search">
        <button class="btn btn-primary ml-2" type="submit">Buscar</button>
      </form>
      <div class="d-flex">
          <a class="mx-1 ml-2" href="https://www.facebook.com/Colegio-Secundario-N59-Olga-Marquez-de-Aredez-Modalidad-Jovenes-y-Adultos-106233064520271">
              <img src="../../../assets/image/Pack Facebook/Facebook Icono.ico" width="40px" alt="">
          </a>
      </div>
    </div>
    </div>
  </nav>

